# dependencies
node_modules

# Next.js
.next
out

# build output (old Vite)
dist
dist-ssr

# env
*.env
*.env.local
.env
.env.local

# logs
*.log
npm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
